@import 'tailwindcss';

html,
body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
}

#root {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}
